<div {% unless include.no_program_link == true %} id="block-program" {% endunless %} class="code-header">
    <a href="{{ site.baseurl }}/assets/programs/{{ include.path }}.py" download>
        <button class="btn btn--primary download-code-button" aria-label="Download this project">Download block code project</button>
    </a>
</div>

<figure class="" style="margin-top: 0;">
    <a href="{{ site.baseurl }}/assets/programs/{{ include.path }}.png">
        <img class="responsive-image" src="{% if include.path_small %}{{ include.path_small }}{% else %}{{ site.baseurl }}/assets/programs/{{ include.path }}.png{% endif %}"
        {% if include.width %} style="--img-width: {{ include.width }};"  {% endif %}
        {% if include.caption %} alt="{{ include.caption }}" {% endif %}
        />
    </a>
    {% unless include.caption == nil %}
    <figcaption>
    {{ include.caption }}
    </figcaption>
    {% endunless %}
</figure>

