{%- assign url_split = page.url | split: '/' -%}
{%- assign strip_set_len = url_split[5] | size | plus: 1 -%}
{%- assign strip_theme_len = url_split[4] | size | plus: 1 | plus: strip_set_len-%}
{%- assign set_url_len = page.url | size | minus: strip_set_len -%}
{%- assign theme_url_len = page.url | size | minus: strip_theme_len -%}
{%- assign set_url = page.url | slice: 0 , set_url_len -%}
{%- assign theme_url = page.url | slice: 0 , theme_url_len -%}

{% for tpage in site.pages %}
    {% if tpage.url == theme_url %}
        {% assign theme = tpage %}
    {% endif %}
    {% if tpage.url == set_url %}
        {% assign set = tpage %}
    {% endif %}
{% endfor %}

Python code and building instructions for the LEGO {{theme.title}} {{set.title}} ({{set.number}}).
